# Forge Secrets and Tokens
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret_here
GITHUB_APP_TOKEN=your_github_app_token_here

FORGEJO_WEBHOOK_SECRET=your_forgejo_webhook_secret_here
FORGEJO_BOT_TOKEN=your_forgejo_bot_token_here
FORGEJO_URL=https://git.yourcompany.com
